node_modules
#!node_modules/copy-to-clipboard
#!node_modules/copy-to-clipboard/*
#!app/JsWallet/node_modules/copy-to-clipboard/index.js
apple.sh
dist
package-lock.json
.DS_Store
.idea
# .github
#This package.json file causes github-actions build to fail like this:
#https://github.com/velas/JsWalletDesktop/runs/691937009
app/package.json
